.container {
  /* min-height: 82vh; */
  padding: 0 3%;
}

.main {
  /* min-height: 82vh; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #bdc5eb;
}
